<template name="centerControl">
	{{#if visible}}
	<div class="control-div center-control-div">
		<form class="pure-form control">
			<legend>
				<i class="fa fa-anchor"></i> Center
			</legend>
			<fieldset class="pure-group">
				<input id="latitude" class="pure-input-1" type="text" placeholder="Latitude e.g. 51.5034">
				<input id="longitude" class="pure-input-1" type="text" placeholder="Longitude e.g. -0.1276">
			</fieldset>
			<button id="center" type="button" class="pure-button pure-button-add">
				Center
			</button>
		</form>
	</div>
	{{/if}}
</template>