<template name="markerControl">
	{{#if visible}}
	<div class="control-div marker-control-div">
		<form class="pure-form pure-form-stacked control">
			<legend>
				<i class="fa fa-map-marker"></i> Marker
			</legend>
			<fieldset class="pure-group">
				<input id="markerTitle" class="pure-input-1" type="text" placeholder="Title" value="{{title}}">
				<input id="markerDescription" class="pure-input-1 pure-input-rounded" type="text" placeholder="Description">
			</fieldset>
			<button id="updateMarker" type="button" class="pure-button pure-button-add">
				Update
			</button>
			<button id="deleteMarker" type="button" class="pure-button pure-button-add">
				Delete
			</button>
		</form>
	</div>
	{{/if}}
</template>