<template name="toolsControl">
	<div class="control-div tools-control-div">
		<form class="pure-form control">
			<legend>
				<i class="fa fa-wrench"></i> Tools <i class="fa fa-user"></i> {{loginButtons}}
			</legend>
			<button id="addMarker" type="button" class="pure-button pure-button-add">
				<i class="fa fa-map-marker"></i> Add Marker
			</button>
			<button id="geolocation" type="button" class="pure-button pure-button-add">
				<i class="fa fa-location-arrow"></i> Geolocation
			</button>
			<button id="center" type="button" class="pure-button pure-button-add">
				<i class="fa fa-anchor"></i> Center
			</button>
		</form>
	</div>
</template>
