<template name="toolsControl">
	<div>
		<form class="pure-form pure-form-stacked control">
			<legend>
				<i class="fa fa-wrench"></i> Tools
			</legend>
			<button id="addMarker" type="button" class="pure-button pure-button-add">
				<i class="fa fa-map-marker"></i> Add Marker
			</button>
			<button id="geolocation" type="button" class="pure-button pure-button-add">
				<i class="fa fa-location-arrow"></i> Geolocation
			</button>
			<button id="flexibleRuler" type="button" class="pure-button pure-button-add">
				<i class="fa fa-pencil-square"></i> Flexible Ruler
			</button>
			<button id="center" type="button" class="pure-button pure-button-add">
				<i class="fa fa-anchor"></i> Center
			</button>
		</form>
	</div>
</template>